body{
    min-height: 100vh;
    min-width: 100vw;
    background: #222;
    overflow: hidden;
    margin: 0;
}

.about{
    margin: 0 0 2em;
    color: #fff;
    text-align: center;
    font-size: 4vmin;
    user-select: none;
}

#image-track{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -45%);
    gap: 20px;
}

#image-track > .image{
    height: 56vmin;
    width: 40vmin;
    object-fit: cover;
    object-position: 50% 50%;
}
